<div class="title titleResult">
    Quiz complete
</div>
<div class="subTitle">
    Your score:
</div>
<div class="accurate">
    @ViewBag.Accurate %
</div>
<div class="subTitle">
    Correct Answers: @ViewBag.CorrectAnswers of @ViewBag.Total
</div>
<div class="button">
    <form asp-controller="Game" asp-action="NewGame" method="get">
        <input type="submit" value="Play Again" />
    </form>
</div>

