<div class="title">
    Welcome to the QuizApp game!
</div>
<div class="button">
    <form asp-controller="Game" asp-action="NewGame" method="get">
        <input type="submit" value="Start New Game!" />
    </form>
</div>

