html, body, .content {
    height: 100%;
}

body {
    margin:0px;
    padding:0px;
    background-color: lightgrey;
    font-family: sans-serif;
    color: white;
}

.content {    
    margin-left: 20%;
    margin-right:20%;
}

.bg-color-gray{
    background-color: gray;
}

.title {
    font-size: 2.0em;
    text-align: center;
    padding-top: 50px;
    height: auto;
    min-height: 120px;
}

.subTitle{
    font-size: 1.3em;
    text-align: center;
}

.titleResult {    
    text-transform: uppercase;
}

.accurate{
    font-size: 2.0em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.question {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    min-height: 150px;
}

.button{
    text-align: center;    
}

.test{
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.1em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color: #ffffff;
    text-align: center;
    transition: all 0.15s;
}

.test:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color: #ffffff;
    border-color: #ffffff;
}

.button input, .my-button {
    border: 4px double #cccccc;        
    text-align: center;
    font-size: 1.1em;
    min-width: 8em;
    display: inline-block;
    padding: 1em 1.5em;
    margin: 1.5em 0.75em;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.15s;
}

.optionLabel{
    margin-top: 12px;
    margin-bottom: 3px;
    margin-left: 5%;
    font-size: 0.9em;
    font-weight: bold;   
}

.selectControl {
    display: block;
    width: 90%;
    height: 30px;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 4px;
    border: 0px;
}

.radioButtonsGroup{
    align-content: center;
    height: 272px;
}

.radioButton {
    border: 1px solid #ffffff;    
    margin: 5px 5%;
    padding: 15px 10px;    
    border-radius: 6px;
}

input[type="radio"]{
    margin-right: 8px;
}

input[type="number"]{
    padding-left: 5px;
}

.radioButton:hover{
    background-color: lightblue;
    color: dimgray;
}

#playGameButton {
    margin-top: 50px;   
}

.buttonTransition {
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.buttonTransition:hover {
    background-color: lightblue;
    color: dimgray;
}

.no-transition:hover {
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3);
}

li{
    list-style-type: none;    
}

ul{
    margin:0;
    padding:0;
    display:flex;
}

a {
    text-decoration: none;
    color: gray;    
    padding: 0 2vw;
}

a:hover{
    text-decoration:none;
    opacity: 0.3;
}

nav {
    width: 100%;
    background-color: lightgrey;  
    margin: 0;
}

.login-menu{
    margin-left: auto;
}

.login-form{
    margin: 0 2vw;
}

#logout {
    padding-top: 7px;
    padding-bottom: 9px;
}

#logout:hover{
    opacity: 0.3;
}

#register-link{
    color: red;
    text-align: center;
}

#register-link p a{
    color: blue;
    text-decoration: underline;
    font-size: 0.75em;
}

@media only screen and (max-width: 768px) {
    .button input {
        display: block;
        margin: 0.4em auto;
    }
}
